@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

*{
    margin: 0;
    padding-top: 0;
    font-family: 'Varela Round', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 1.1em;
}

::-webkit-scrollbar-track{
    background: rgb(75, 85, 170);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(127, 112, 255);
    border: solid rgb(12, 1, 39);
    border-radius: 15px;
}

body{
    background-image:url(./images/bg-portfolio.png);
    background-repeat:initial;

}

.content{
    display: none;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgba(185, 185, 185, 0.473);
    padding-top: 5px;
    padding-bottom: 5px;
}
.container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.wrapper
{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.wrapper .navbar{
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.navbar-1{
    display: flex;
    margin-top: 70px;
    position: absolute;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: 0px;
}

nav button{
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    border: 2px solid;
    font-weight: bold;
    border-radius: 99999px;
}

nav button:hover{
    box-shadow: 3px 3px rgb(0, 0, 0);
    transition: all 140ms cubic-bezier(.25, .46, .45, .94);
}

.row{
    margin-top: 15px;
    
}

.col-1{
    margin-left: 110px;
    position: absolute;
    margin-top: 40px;
}


.col-1 h1{
    font-size: 40px;
}

.col-1 h2{
    margin-top: 8%;
}

.col-2{
    flex-basis: 90%;
    
}

.col-2 h1{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right:16%;
    
}

.row-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -150px;
}

.row-3{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row-3 img{
    margin-top: 50px;
    width: 400px;
}

.row .col-1 img{
    position: absolute;
    margin-left: 90%;
}

.row-2 .col-2 img{
    margin-left: 58%;
}

label{
    position: relative;
    width: 45px;
    height: 22px;
    right: 0px;
    border: 2px solid;
    border-radius: 20px;
}

label:before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    transition: 0.4s;

}

label.active:before{
    left: 24px;
    background: #fbff11;
}

body.night{
    background: rgb(15, 15, 15);
    color: white;
    background-image: url(./images/bg-black.png);
    
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 30px;
    position: relative;
}

.scroll-down{
    margin-top: 40px;
    left: 50%;
    display: flex;
    justify-content: center;
}

.scroll-down button{
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-color: black;
    border-radius: 99999px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
    
}

.scroll-down button:hover{
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px rgb(0, 0, 0);
    transition: all 140ms cubic-bezier(.25, .46, .45, .94);
}
.page-header h1{
    font-size: 90px;
    font-weight: bold;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.page-header{
    display: flex;
    align-items: baseline;
}

.card{  
    border: solid black;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    border-top: none;
    background-color: white;
    color: black;
}

.card .x{
    margin-bottom: 30px;
    display: flex;
    justify-content: right;
    align-items: right;
    border: solid black;
    padding: 10px 20px 10px 10px;
    border-left: none;
    border-right: none;
    background-color: #fb7da8 ;
    font-size: 30px;
    color: white;
}

.second-body{
    padding: 5px 50px 30px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-body p{
    font-weight: bold;
    
}

.second-body img{
    margin-left: 15px;
    width: 250px;
}

#navbar .logo{
    padding-left: 2%;
    width: 100px;
}

#navbar label{
    margin-right: 2%;
}

#navbar {
    overflow: hidden;
    
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .second-row{
    margin-bottom: 10px; 
    
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }

.cards{
    width: 30%;
    background-color: #d25216;;
    color: rgb(0, 0, 0);
    border-radius: 0 12px 12px 12px;
    display: inline-block;
    margin: 50px 10px 10px 10px;
    justify-content: center;
    border-color: black;
    border: solid;
    position: relative;
}

.cards::after {
    content: " ";
    width: 50%;
    height: 16%;
    border-radius: 15px 15px 0 0;
    display: block;
    background-color: #d25216;
    position: absolute;
    top: -37px;
    left: -3px;
    border: solid black;
    border-bottom: none;
}

.cards1::after {
    content: " ";
    width: 50%;
    height: 16%;
    border-radius: 15px 15px 0 0;
    display: block;
    background-color:#407c42;
    position: absolute;
    top: -37px;
    left: -3px;
    border: solid black;
    border-bottom: none;
}

.cards1{
    width: 30%;
    background-color: #407c42;
    color: rgb(0, 0, 0);
    border-radius: 0 12px 12px 12px;
    display: inline-block;
    margin: 50px 10px 10px 10px;
    justify-content: center;
    border-color: black;
    border: solid;
    position: relative;
}

.cards:hover{
    margin-top: 5px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    transition: all 140ms cubic-bezier(.25, .46, .45, .94);
}

.cards:hover{
    margin-top: 5px;
    
}

.cards1:hover{
    margin-top: 5px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    transition: all 140ms cubic-bezier(.25, .46, .45, .94);
    
}

.image img{
    width: 100%;
    margin-top: 3%;
}

.title{
    padding: 0px 15px 0px 15px;
    color: white;
}

.desc{
    padding: 5px 15px 10px 15px;
}

.cards #folder{
    padding: 15px 15px 0px 15px;
    font-size: 30px;
    color: #8a360f;
}


main .cards .link{
    margin: 15px 10px 15px 280px;
    cursor: pointer;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: inline-block;
}

.cards .link:hover{
    color: #fff01f;
    
}

.cards1 #folder{
    padding: 15px 15px 10px 15px;
    font-size: 30px;
    color: #234424;
}


main .cards1 .link{
    margin: 15px 10px 15px 280px;
    cursor: pointer;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;

}

.cards1 .link:hover{
    color: #fff01f;
    
}

.used p{
    display: inline-flex;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.288);
    margin: 0;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 15px;
    text-align: left;
}

.used{
    margin-left: 15px;
    margin-bottom: 15px;
}

main{
    margin-top: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.skills{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
}

.designer{
    margin-top: 50px;
}

.designer h1{
    font-size: 40px;
}

.designer h3{
    font-style: thin;
}
.skills p{
    font-size: 20px;
    background-color: white;
    border: solid black;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    border-top: none;
    color: black;
}

.skills h1{
    font-size: 40px;
    background-color: #2573c2;
    border: solid black;
    border-radius: 5px;
    padding: 10px;
}


.skills i{
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.skills h3{
    margin-top: 10px;
    font-style: thin;
}

.fifthpage{
    margin-bottom: 300px;
}

footer{
    background-color: #60be63;
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10px;
    text-align: center;
    border-top: solid rgb(44, 88, 47);
}

.footer ul li{
    display: inline-flex;
    list-style: none;
    padding: 5px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0px 5px 0px;
}

.footer ul li i:hover{
    color: #ffffff;
}

.footer ul {
    margin-right: 40px;
}
footer h1{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-bottom:30px;
    color: #407c42;
    
}

.footer p{
    font-family: 'Poppins', sans-serif;
    color: rgb(31, 31, 31);
    font-size: 15px;
    
}

.footer i{
    color: rgb(31, 31, 31);
}

.footer h4{
    color: rgb(31, 31, 31);
    margin-bottom: 80px;
    margin-top: 5px;
}

:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 3;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 4s);
  }

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #111;
    color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
  }
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
    font-style: italic;
  }

  
  @media screen and (max-width:740px) {
    header{
        display: flex;
        justify-content: center;
        background-color: rgba(185, 185, 185, 0.473);
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-size: 13px;
    }

    html, body{
        overflow-x: hidden;
    }
    
    :root {
      --marquee-width: 80vw;
      --marquee-height: 10vh;
      --marquee-elements-displayed: 1;
      --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
      --marquee-animation-duration: calc(var(--marquee-elements) * 2s);
    }

    .container{
        max-width: 740px;
    }

    .wrapper{
        max-width: 740px;
    }

    .row-3 img{
        margin-top: 80px;
        width: 255px;
    }

    .col-1{
        position: absolute;
        margin-left: -3%;
        margin-top: -10px;
    }
    
    
    .col-1 h1{
        font-size: 30px;
    }
    
    .col-1 h2{
        font-size: 20px;
        margin-top: 8%;
    }

    nav button{
        display: inline-block;
    }

    label{
        position: relative;
        width: 35px;
        height: 18px;
        right: 0px;
        border: 2px solid;
        border-radius: 20px;
    }
    
    label:before{
        position: absolute;
        content: "";
        width: 19px;
        height: 18px;
        left: 0px;
        top: 0px;
        border-radius: 50%;
        cursor: pointer;
        background-color: black;
        transition: 0.4s;
    
    }

    label.active:before{
        left: 16px;
        background: #fbff11;
    }

    .row .col-1 img{
        width: 50px;
        margin-left: 6%;
    }

    .row{
        margin-top: 50px;
    }
    
    .row-2 .col-2 img{
        width: 50px;
        margin-top: 40%;
        margin-left: 80%;
    }

    .col-2 h1{
        font-size: 20px;
        margin-right: -15%;
        margin-top: 5px;
    }

    nav button{
        margin-right: 0px;
        padding: 5px 10px;
        font-size: 11px;
    }

    nav{
        margin-right: 2%;
    }

    #navbar .logo{
        width: 100px;
    }

    .scroll-down{
        margin-top: 30px;
    }

/*responsive SECOND PAGE*/

.page-header h1{
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.card{  
    margin-top: 50px;
    margin-left: 0%;
    margin-right: 0%;
}

.card .x{
    font-size: 10px;
}

.second-body{
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}
.second-body p{
    font-weight: bold;
    font-size: 15px;
    padding: 0 5px 10px 5px;
}
.second-body img{
    width: 200px;
}

/*THIRD PAGE*/

main{
    display: flex;
    flex-direction: column;

}

.cards{
    width: 100%;
    height: 20%;
    margin-bottom: 0px;
    margin-top: 50px;
}

.cards::after {
    content: " ";
    width: 53%;
    height: 13%;
    border-radius: 15px 15px 0 0;
    display: block;
    background-color: #d25216;
    position: absolute;
    top: -32px;
    left: -2.6px;
    border: solid black;
    border-bottom: none;
}

.cards1::after {
    content: " ";
    width: 53%;
    height: 13%;
    border-radius: 15px 15px 0 0;
    display: block;
    background-color: #407c42;
    position: absolute;
    top: -32px;
    left: -2.6px;
    border: solid black;
    border-bottom: none;
}

.cards #folder{
    padding: 15px 15px 0px 15px;
    font-size: 50px;
    color: #8a360f;
}

main .cards .link{
    margin: 0 10px 0px 190px;
    font-size: 20px;
    display: inline-block;
}

.desc{
    padding: 0px 15px 10px 15px;
}

.cards1{
    width: 100%;
    height: 20%;
    margin-bottom: 0px;
    margin-top: 50px;
}

.cards1 #folder{
    padding: 15px 15px 0px 15px;
    font-size: 50px;
    color: #234424;
}

main .cards1 .link{
    margin: 0 10px 0px 190px;
    font-size: 20px;
    display: inline-block;
}

/*FOURTH PAGE*/
.skills{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 150px;
}

.skills h1{
    font-size: 30px;
}

/*FOOTER*/
footer{
    background-color: #60be63;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    text-align: center;
    border-top: solid rgb(44, 88, 47);
}

.footer ul li{
    display: inline-flex;
    list-style: none;
    padding: 5px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0px 5px 0px;
    font-size: 30px;
}

.footer ul li i:hover{
    color: #ffffff;
}

.footer ul {
    margin-right: 40px;
}
footer h1{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-bottom:30px;
    color: #407c42;
    font-size: 30px
}

.footer p{
    font-family: 'Poppins', sans-serif;
    color: rgb(31, 31, 31);
    font-size: 12px;
    
}

.footer i{
    color: rgb(31, 31, 31);
    
}

.footer h4{
    color: rgb(31, 31, 31);
    margin-bottom: 80px;
    margin-top: 5px;
    font-size: 18px;
}

  }